.oc {
  background-color: #e6e3e7;
  display: flex;
  flex-direction: column;
}
.navbar {
  background-color: #5c47e8;
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  z-index: 100;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
  border: 5px;
}

.logo {
  font-size: 18px;
  color: white;
}

.menu-icon {
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px;
}
.nav-links {
  list-style: none;
  color: white;
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.nav-item {
  margin-top: 20px;
  margin-right: 30px;
  cursor: pointer;
  color: white;
}
.route-link {
  color: white;
}
.route-link:hover {
  color: white;
}
.sidebar {
  position: fixed;
  top: 78px;
  left: 0;
  width: 200px;
  height: 100vh;
  background-color: #dddade;
  padding: 20px;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-menu {
  list-style: none;
  margin-top: 5%;
  padding: 0px;
  /* margin: 0; */
}

.sidebar-item {
  margin-top: 1%;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 20px;
  padding-bottom: 10px;
  justify-content: center;
  color: #4e514f;
}
.sidebar-item:hover {
  background-color: rgb(185, 204, 239);
  transition: 0.5s;
  scale: 1.06;
  /* color: #000000; */
  /* opacity: 90%; */
}
.sbar-sett {
  color: #4e514f;
}
.sbar-sett:hover {
  transform: rotateZ(180deg);
  transition: 0.5s;
}
.sbar-sett-2 {
  font-size: 20px;
}
.sbar-sett-1:hover {
  transform: rotateZ(360deg);
  transition: 0.5s;
}
