.assign-card {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.form-label {
  font-weight: bold;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.avatar-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.dropdown-toggle {
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.dropdown-menu {
  max-height: 200px;
  overflow-y: auto;
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #8cbff1;
}
