.usr-list-table th {
  font-weight: bold;
}

.usr-list-table tr:nth-child(even) {
  background-color: #f5f5f5;
}

.usr-list-table tr:hover {
  background-color: #e0e0e0;
  cursor: pointer;
}
.user-card {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.1);
}

.usr-del-button:hover {
  scale: 1.15;
  transition: 0.5s;
}
.usr-manage-head {
  display: flex;
  height: 10%;
}
.usr-search-bar {
  margin-left: 1%;
  padding-bottom: 10px;
  width: 30%;
}
.usr-search-text {
  font-size: 17px;
  margin-left: 50%;
  margin-top: 0.2%;
}
